.searchForm {
    margin-top: 40px;
    position: absolute;
    
}

input[type=text] {
    width: 275px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #eef3ee;
    margin-left: 45px;
    margin-top: 5px;
    display:block;
    padding-left: 10px;
  }

.formLabel {
    font-weight: bold;
    margin-left: 45px;
    display:block;
}

.clearButton:after {
    content: '✖';
}

.clearButton {
    background:none;
    border:none;
    margin-left: 310px;
    margin-top: 67px;
    padding:0;
    cursor: pointer;
    position: relative;
    
}