.tableOfContents {
    margin-top: 20px;
    width: 100%;
    height: 10px;
    table-layout: fixed;
}

.tableOfContents tr:nth-child(even){background-color: #fafafa;}

.tableOfContents th {
    padding-left: 10px;
    text-align: left;
    font-weight: normal;
    color: #b9b9b9;
}
.tableOfContents tr td {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    border-top: none;
}
.tabs {
    margin-top: 50px;
    margin-left: 45px;
    margin-right: 45px;
}

.estimatedTime {
    color: red;
}